<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.fluttergod.fets_flutter_sdk">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <receiver android:name=".FetsCheckoutBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="fets.pos.checkout" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
